@font-face {
    font-family: 'Relief Dimitri';
    src: url(./fonts/DIMIS___.TTF);
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Medium.ttf);
}

h1 {
    font-family: 'Relief Dimitri';
    text-align: center;
    color: white;
    margin-bottom: 0;
}

body {
    width: 300px;
    height: 200px;
    background-color: #9147ff;
    color: white;
}

.details {
    font-family: 'Roboto';
    font-size: 20px;
    height: 100%;
    padding-bottom: 30px;
    margin-top: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
